// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

* body {
  font-family: Consolas, monaco, monospace;
  background-color: rgb(12, 13, 16);
  color: white;
  margin: 0;
}
#Home,
#AboutMe,
#Projects,
.button-container {
  overflow-x: hidden;
}

.rotate {
  animation: rotation 30s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.logos {
  display: flex;
  justify-content: center;
  .container {
    width: 13vw;
    display: flex;
    justify-content: space-evenly;
  }
}

#githubLogo,
#linkedinLogo,
#gmailLogo {
  width: 2.5vw;
  transition: filter 0.3s; /* Apply a smooth transition on the filter property */

  &:hover {
    filter: invert(
      50%
    ); /* Adjust the invert percentage for the desired hover effect */
  }
}

#reactLogo {
  height: 20em;
  width: 20em;
}
#react-title {
  font-size: 4em;
}
#expressjsLogo {
  // width: 20vw;
  margin-top: 5em;

  p {
    font-family: "Helvetica";
    font-size: 5em;
  }
}
#nodeJSLogo {
  width: 20vw;
}
#JavaScriptLogo {
  width: 15vw;
}
#MongoDBLogo {
  width: 21vw;
  margin-top: 5em;
}
#PythonLogo {
  width: 22vw;
}

.glowing-image-reactLogo {
  filter: drop-shadow(0 0 10px #61dafb);
  transition: filter 0.3s; /* Apply a smooth transition on the filter property */

  &:hover {
    filter: drop-shadow(0 0 20px #61dafb);
  }
}

.glowing-image-expressLogo {
  filter: drop-shadow(0 0 10px white);
  transition: filter 0.3s; /* Apply a smooth transition on the filter property */

  &:hover {
    filter: drop-shadow(0 0 20px white);
  }
}

.glowing-image-nodeJSLogo {
  filter: drop-shadow(0 0 10px #73aa62);
  transition: filter 0.3s; /* Apply a smooth transition on the filter property */

  &:hover {
    filter: drop-shadow(0 0 20px #73aa62);
  }
}
.glowing-image-JavaScriptLogo {
  filter: drop-shadow(0 0 10px #f0db4f);
  transition: filter 0.3s; /* Apply a smooth transition on the filter property */

  &:hover {
    filter: drop-shadow(0 0 20px #f0db4f);
  }
}
.glowing-image-MongoDBLogo {
  filter: drop-shadow(0 0 10px #4db13e);
  transition: filter 0.3s; /* Apply a smooth transition on the filter property */

  &:hover {
    filter: drop-shadow(0 0 20px #4db13e);
  }
}
.glowing-image-PythonLogo {
  filter: drop-shadow(0 0 10px #3772a1);
  transition: filter 0.3s; /* Apply a smooth transition on the filter property */

  &:hover {
    filter: drop-shadow(0 0 20px #3772a1);
  }
}

.logos-skill {
  display: flex;
  justify-content: center;
  .container-skill {
    // border: inset rgb(116, 149, 200);
    display: flex;
    flex-direction: column;
  }
}

.grid-list {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-row-gap: 50px;
  grid-column-gap: 20em;
}

.center-list-container {
  display: flex;
  justify-content: center;
}

body::-webkit-scrollbar {
  color: rgb(31, 34, 39);
  // color: white;
  // width: 100px;
  // border-radius: 25%;
  // border-top-left-radius: 50%;
  // border-top-right-radius: 50%;
  // border-bottom-right-radius: 50%;
  // border-bottom-left-radius: 50%;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(31, 44, 58, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(31, 34, 39);
  // outline: 1px solid slategrey;
}

@keyframes slideDown {
  from {
    transform: translateY(-10px); /* Initial position off-screen */
    opacity: 0; /* Start invisible */
  }
  to {
    transform: translateY(0); /* Final position on-screen */
    opacity: 1; /* Fade in */
  }
}

.center {
  text-align: center;
}

.component {
  margin-bottom: 300px; /* Adjust the margin as needed to control the spacing */
}

.dropdown-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #000; /* Adjust the color as needed */
  display: inline-block;
  vertical-align: middle;
  border-top: 8px solid white;
  margin-left: 0; /* Adjust the margin as needed */
}
.button-container {
  display: flex;
  justify-content: center;
  height: 20em;

  #Resume-Button {
    font-size: 2em;
    height: 1em;
    border-radius: 5px;
    background-color: rgb(31, 34, 39);
    text-decoration: none;
    color: white;
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 10px 20px 15px;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 8px rgba(116, 149, 200, 0.2),
        0 8px 14px rgba(116, 149, 200, 0.3);
      // padding: 5px 20px;
    }
  }
}

#Home {
  #profile-image {
    width: 311px;
    // height: 59vh;
    border-radius: 50%;
  }
  h1 {
    font-size: 50px;
  }
  p {
    font-size: 2em;
  }
}
#AboutMe {
  p {
    // background-color: transparent;
    margin-left: 15vw;
    margin-right: 15vw;
    text-align: justify;
    font-size: 2em;
  }
}

#ContactMe {
  h1 {
    font-size: 50px;
  }
}

#Projects {
  #DecodeMe * {
    text-decoration: none;
    color: white;
  }
  #MotekRewards * {
    text-decoration: none;
    color: white;
  }
  #CookBook * {
    text-decoration: none;
    color: white;
  }
}
.project-title {
  width: 135px;
  transition: filter 0.3s;

  &:hover {
    filter: invert(50%); // Change the color to red on hover
  }
}

.title-h2 {
  font-size: 50px;
  text-decoration: solid;
}

#DecodeMe:hover {
  .project-box {
    transform: scale(1.05);
    box-shadow: 0 8px 14px rgba(116, 149, 200, 0.3); /* Stronger shadow */
  }
}

#MotekRewards:hover {
  .project-box {
    transform: scale(1.05);
    box-shadow: 0 8px 14px rgba(116, 149, 200, 0.3); /* Stronger shadow */
  }
}
#CookBook:hover {
  .project-box {
    transform: scale(1.05);
    box-shadow: 0 8px 14px rgba(116, 149, 200, 0.3); /* Stronger shadow */
  }
}

.project {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; // Adjust the margin as needed to control the spacing
}

.project-box {
  border: 1px solid rgb(116, 149, 200); // Add a border to create a card-like appearance
  border-radius: 5px; // Rounded corners for the card
  padding: 20px; // Add some padding to the card content
  width: 80vw;
  transition: transform 0.3s, box-shadow 0.3s; // Add transitions for a smooth effect

  // &:hover {
  //   transform: scale(1.05); // Scale the card on hover
  //   box-shadow: 0 4px 8px rgba(116, 149, 200, 0.2); // Add a slight box-shadow on hover
  // }
}

.project-container {
  display: grid;
  grid-template-columns: 25vw 1fr; // Adjust the column widths as needed
  grid-template-areas: "a b";
  // grid-row-gap: 50px;
}

.project-title-container {
  display: flex;
  justify-content: center;
  font-size: 2em;
}

.description {
  font-size: 2em; // Set the font size to 2em
  text-align: left; // Align the text with the image
  margin: 0 20px; // Add margin for spacing
  margin-top: 4em;
}

.thumbnail {
  width: 100%; // Make the image fill the card width
  max-height: 200px; // Set a maximum height for the image
  object-fit: cover; // Preserve aspect ratio
}

.nav-bar {
  // background-color: rgb(31, 34, 39);
  // padding: 5px;
  // width: auto; // Make the navbar 100% width

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; // Set a high z-index to ensure the navbar appears above other elements
  background-color: rgb(31, 34, 39);
  padding: 5px;

  .nav-bar-links {
    display: flex;
    list-style: none;
    justify-content: flex-end;

    .nav-link {
      text-decoration: none;
      margin-right: 2vh;
      font-size: 20px;
      color: white;
      transition: filter 0.3s;

      &:hover {
        filter: invert(50%); // Change the color to red on hover
      }
    }

    .dropdown {
      position: relative;

      .dropdown-content {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: rgb(31, 34, 39);
        list-style: none;
        padding: 0;
        margin: 0;
        z-index: 1;

        .nav-link {
          display: block;
          padding: 10px 15px;
          color: white;
          text-decoration: none;
          transition: filter 0.3s;

          &:hover {
            filter: invert(50%); // Change the color to red on hover
          }
        }
      }
    }

    .dropdown:hover .dropdown-content {
      display: block;
      animation: slideDown 0.3s ease-in-out;
    }
  }
}

.no-list-decoration {
  list-style: none;
}

// #Skills {
//   .no-list-decoration {
//     list-style: none;
//   }
// }

footer {
  // position: fixed;
  bottom: 0;
  width: 100%;
  height: 21vh;
  background-color: rgb(31, 34, 39);
  color: white;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  .button-container-footer {
    margin-top: 20px;
    #Resume-Button-Footer {
      font-size: 2em;
      height: 1em;
      border-radius: 5px;
      // background-color: rgb(31, 34, 39);
      text-decoration: none;
      color: white;
      // padding: 10px 20px 15px;
      transition: filter 0.3s;

      &:hover {
        filter: invert(50%); // Change the color to red on hover
      }
    }
  }
  p {
    margin-top: 3vh;
    font-size: 35px;
  }
}
