* body {
  font-family: Consolas, monaco, monospace;
  background-color: rgb(12, 13, 16);
  color: white;
  margin: 0;
}

.rotate {
  animation: rotation 30s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.glowing-image {
  filter: drop-shadow(0 0 10px #61dafb);
  transition: filter 0.3s; /* Apply a smooth transition on the filter property */
}
.glowing-image:hover {
  filter: drop-shadow(0 0 20px #61dafb);
}

.logos {
  display: flex;
  justify-content: center;
}
.logos .container {
  width: 10em;
  display: flex;
  justify-content: space-evenly;
}

#githubLogo,
#linkedinLogo,
#gmailLogo {
  width: 25px;
  transition: filter 0.3s; /* Apply a smooth transition on the filter property */
}
#githubLogo:hover,
#linkedinLogo:hover,
#gmailLogo:hover {
  filter: invert(50%); /* Adjust the invert percentage for the desired hover effect */
}

#reactLogo {
  height: 7em;
  width: 7em;
}

#expressjsLogo {
  width: 7em;
}

#nodeJSLogo {
  width: 7em;
}

#JavaScriptLogo {
  width: 6em;
}

#MongoDBLogo {
  width: 8em;
}

#PythonLogo {
  width: 10em;
}

.glowing-image-expressLogo {
  filter: drop-shadow(0 0 1px white);
  transition: filter 0.3s; /* Apply a smooth transition on the filter property */
}
.glowing-image-expressLogo:hover {
  filter: drop-shadow(0 0 5px white);
}

.glowing-image-nodeJSLogo {
  filter: drop-shadow(0 0 10px #73aa62);
  transition: filter 0.3s; /* Apply a smooth transition on the filter property */
}
.glowing-image-nodeJSLogo:hover {
  filter: drop-shadow(0 0 20px #73aa62);
}

.glowing-image-JavaScriptLogo {
  filter: drop-shadow(0 0 10px #f0db4f);
  transition: filter 0.3s; /* Apply a smooth transition on the filter property */
}
.glowing-image-JavaScriptLogo:hover {
  filter: drop-shadow(0 0 20px #f0db4f);
}

.glowing-image-MongoDBLogo {
  filter: drop-shadow(0 0 10px #4db13e);
  transition: filter 0.3s; /* Apply a smooth transition on the filter property */
}
.glowing-image-MongoDBLogo:hover {
  filter: drop-shadow(0 0 20px #4db13e);
}

.glowing-image-PythonLogo {
  filter: drop-shadow(0 0 10px #ffe15c);
  transition: filter 0.3s; /* Apply a smooth transition on the filter property */
}
.glowing-image-PythonLogo:hover {
  filter: drop-shadow(0 0 20px #ffe15c);
}

.logos-skill {
  display: flex;
  justify-content: center;
}
.logos-skill .container-skill {
  display: flex;
  flex-direction: column;
}

body::-webkit-scrollbar {
  color: rgb(31, 34, 39);
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(31, 44, 58, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(31, 34, 39);
}

@keyframes slideDown {
  from {
    transform: translateY(-10px); /* Initial position off-screen */
    opacity: 0; /* Start invisible */
  }
  to {
    transform: translateY(0); /* Final position on-screen */
    opacity: 1; /* Fade in */
  }
}
.center {
  text-align: center;
}

.component {
  margin-bottom: 200px; /* Adjust the margin as needed to control the spacing */
}

.dropdown-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #000; /* Adjust the color as needed */
  display: inline-block;
  vertical-align: middle;
  border-top: 8px solid white;
  margin-left: 0; /* Adjust the margin as needed */
}

#AboutMe p {
  margin-left: 30em;
  margin-right: 30em;
  text-align: justify;
}

#Projects #DecodeMe * {
  text-decoration: none;
  color: white;
}
#Projects #MotekRewards * {
  text-decoration: none;
  color: white;
}
#Projects #CookBook * {
  text-decoration: none;
  color: white;
}

.project-title {
  width: 135px;
  transition: filter 0.3s;
}
.project-title:hover {
  filter: invert(50%);
}

.project-title-container {
  display: flex;
  justify-content: center;
}

.thumbnail {
  width: 20em;
  border: inset rgb(116, 149, 200);
  transition: transform 0.3s, box-shadow 0.3s;
}
.thumbnail:hover {
  transform: scale(1.05);
  box-shadow: 6px 6px 11px rgb(116, 149, 200);
}

.nav-bar {
  background-color: rgb(31, 34, 39);
  padding: 5px;
  width: auto;
}
.nav-bar .nav-bar-links {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}
.nav-bar .nav-bar-links .nav-link {
  text-decoration: none;
  margin-right: 2vh;
  font-size: 20px;
  color: white;
  transition: filter 0.3s;
}
.nav-bar .nav-bar-links .nav-link:hover {
  filter: invert(50%);
}
.nav-bar .nav-bar-links .dropdown {
  position: relative;
}
.nav-bar .nav-bar-links .dropdown .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(31, 34, 39);
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1;
}
.nav-bar .nav-bar-links .dropdown .dropdown-content .nav-link {
  display: block;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  transition: filter 0.3s;
}
.nav-bar .nav-bar-links .dropdown .dropdown-content .nav-link:hover {
  filter: invert(50%);
}
.nav-bar .nav-bar-links .dropdown:hover .dropdown-content {
  display: block;
  animation: slideDown 0.3s ease-in-out;
}

.no-list-decoration {
  list-style: none;
}/*# sourceMappingURL=index.css.map */